<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>EOL</title>
	</head>
	<body>
		<h1>OS's fechadas no prazo por instalador</h1>
		
			<table border="1" class="table">
				<tr>
					<th width="10px">Instalador</th>
					<th width="10px">OS's fechadas</th>
				</tr>
				<tr th:each="elemento : ${lista}">
					<td th:text="${elemento.instalador.nome}" width="10px">Instalador</td>
					<td th:text="${elemento.tamanhoLista}" width="30px">OS's fechadas</td>
				</tr>
			</table>
		
		<p><a href="/relatorio">Voltar</a></p>
	</body>
</html>